
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        Kullanıcı Adı:{{userr.username}}
    <br> Parola:{{userr.password}}<br>
    Id:{{userr.id}} <br>

    <h1>Merhaba</h1>
    



    <br><a href="/start/{{userr.username}}/{{userr.id}}" class="btn btn-danger">Gönder</a>

    <br><a href="/sil/{{userr.id}}" class="btn btn-danger">Sil</a>
        

    
 
</body>
</html>


